<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Sam's Minions Scrambling Club</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css" />
  </head>

  <body>
    <a href="#">
      <img src="/images/SamScramblingHorizontal.png" alt="SMSC Logo" style="width: 200px" />
      Home
    </a>
    <br />
   <a href="tourdeflatirons.html">Tour de Flatirons</a> <br />

    <h1>Sam's Minions Scrambling Club</h1>
    <h2><%= new Date(); %></h2>
    <h2><%= userName %></h2>
    <img src="/images/SamScramblingRockRedVert.png" alt="SMSC Logo" style="height: 500px"/>
  </body>
</html>
