<%- include('../partials/header', {page: 'Home'}); -%>

<h1>Find Prime Factors!</h1>

<div class="text-center">
    <label
        >Enter number:
        <input type="number" value="210735124" name="input" id="input" />
    </label>
    <button onclick="getPrimeFactors()">Get Factors</button>
</div>
<h2 id="inputNumber"></h2>
<p id="executionTimeParagraph" class="text-center"></p>
<ul id="factorList"></ul>

<%- include('../partials/footer'); -%>
